name: upload a file into an ec2

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

env:
  global_env_var: I'm global env var

jobs:
  print-something-on-push:
    needs: work-with-github-inputs-outputs
    runs-on: ubuntu-24.04
    env:
      job_one_env_var: I'm an env var from job 1
    steps:
      - name: step scope env var
        env:
          step_one_env_var: I'm an env var from step 1 job 1
        run: |
          echo "global env var is: $global_env_var"
          echo "job1 env var is: $job_one_env_var"
          echo "step1 env var is: $step_one_env_var"
          echo "${{steps.output.outputs.text}}"

      - name: first step
        run: echo "something on push"
  wait-for-the-print-to-finish:
    needs: print-something-on-push
    runs-on: ubuntu-24.04
    steps:
      - name: second step
        run: echo "something is already printed and now it's my turn"
      - name: try to access all env vars from here
        run: |
          echo "global env var is: $global_env_var"
          echo "job1 env var is: $job_one_env_var"
          echo "step1 env var is: $step_one_env_var"
          echo "Rebo: $GITHUB_REPOSITORY"
  work-with-github-inputs-outputs:
    runs-on: ubuntu-24.04
    steps:
      - id: output
        run: |
          echo "text=you're reading me from github io" >> $GITHUB_OUTPUT

  upload-the-script-file:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          ls -la test
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.HOST }} >> ~/.ssh/known_hosts

      - name: Copy file to EC2
        run: |
          scp -i ${{ secrets.EC2KEY }} test/scrpits.sh ${{ secrets.USERNAME }}@${{ secrets.HOST }}:~

  connect-to-an-ec2:
    runs-on: ubuntu-24.04
    needs: upload-the-script-file
    steps:
      - name: Execute remote SSH commands using ssh key
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.EC2KEY }}
          script: |
            chmod +x scripts.sh
            ./scripts.sh
            sudo usermod -aG docker ${{ secrets.USERNAME }}
            docker ps
            exit
