name: upload a file into an ec2

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  upload-the-script-file:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2KEY }}" > ~/.ssh/ec2_key
          chmod 600 ~/.ssh/ec2_key
      - name: Copy file to EC2
        run: |
          ls -la ~/.ssh
          scp -i ~/.ssh/ec2_key -o StrictHostKeyChecking=no test/scripts.sh ${{ secrets.USERNAME }}@${{ secrets.HOST }}:~

  connect-to-an-ec2:
    runs-on: ubuntu-24.04
    needs: upload-the-script-file
    steps:
      - name: Execute remote SSH commands using ssh key
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.EC2KEY }}
          script: |
            chmod +x ~/scripts.sh
            ./scripts.sh
            sudo docker ps
            exit


